{% extends "base.html" %}

{% block title %}Log-in{% endblock %}

{% block content %}
    <h1>Register user</h1>
    <div class="module">
        <form method="post">
        {% csrf_token %}
            {% for field in form %}
                {{ field.label_tag }}<br>
                <p> {{ field }} </p>
                {% if field.help_text %}
                    <small style="display: none">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            {% endfor %}
        <p><input type="submit" value="Register"</p>
    </form>
    </div>
{% endblock %}